{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties",
    "syntax-dynamic-import",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "styled-name"
      ]
    }
  }
}
